@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-connection87:before {
	content: "\e000";
}
.flaticon-github10:before {
	content: "\e001";
}
.flaticon-magnifier58:before {
	content: "\e002";
}
.flaticon-rocketship4:before {
	content: "\e003";
}
.flaticon-rss2:before {
	content: "\e004";
}
.flaticon-savings6:before {
	content: "\e005";
}

.flaticon-2x:before {
	font-size: 200%;
}
